/* General Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body{
    height: 100vh;
    overflow: hidden;
}

.img-back{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.7);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.title-main{
    color: white;
    font-size: 2.4rem;
    justify-self: start;
    margin-bottom: 40px;
}

.section-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    width: 700px;

}

.buttons-section{
    cursor: pointer;
    background-color: gray;
    width: 300px;
    height: 70px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    color: white;
    font-size: 1.3rem;

    animation: pulse 3s ease-in-out infinite;

    background-image: url(/images/background-buttons.webp);
    background-position: center;
}

.buttons-section img{
    width: 40px;
}

/* Credits & Lore */

.credits-section{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    position: absolute;
    display: none;
}

.container-inside{
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.645);
}

.credits-content{
    background-image: url(./images/credits-section.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 70vw;
    height: 70dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.credits-content h2{
    text-align: center;
    padding-top: 10%;
    font-size: 2rem;
    color: white;
}

.credits-content p{
    padding: 5% 13%;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.close-credits{
    /* background-color: black; */
    color: white;
    width: 220px;
    height: 120px;
    background-image: url(./images/unnamed-removebg-preview.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

/* Guild Options */

.options-section{
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;;
    height: 100dvh;
    display: none;
}

.options-div{
    color: white;
    width: 220px;
    height: 120px;
    background-image: url(./images/unnamed-removebg-preview.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;  
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

/* Effects */

@keyframes opacityFadeOut{
    0% {
        filter: brightness(0.7);
        scale: 1;
    }

    100% {
        filter: brightness(1);
        scale: 1.15;
    }
}

.effect{
    animation: opacityFadeOut;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.BoardGame{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -10;
}

.whispering{
    position: absolute;
    top: 22%;
    left: 44%;
    background-color: rgba(255, 255, 255, 0.141);
    width: 10%;
    height: 17%;
    border-radius: 50%;
    cursor: pointer;

    animation-name: nodes;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.aethelgard{
    position: absolute;
    top: 28%;
    left: 18%;
    width: 12%;
    height: 21%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.141);
    cursor: pointer;

    animation-name: nodes;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.oakhaven{
    position: absolute;
    top: 46%;
    left: 54%;
    width: 6%;
    height: 10%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.141);
    cursor: pointer;

    animation-name: nodes;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.serpent{
    position: absolute;
    top: 32%;
    left: 72%;
    width: 7%;
    height: 12%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.141);
    cursor: pointer;

    animation-name: nodes;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.ember{
    position: absolute;
    top: 73%;
    left: 84%;
    width: 8%;
    height: 14%;
    background-color: rgba(255, 255, 255, 0.141);
    border-radius: 50%;
    cursor: pointer;

    animation-name: nodes;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes nodes {
    0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(49, 51, 52, 0.548);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(31, 34, 35, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.on-interact{
    display: none;
}

/* Interface Player */

.gold-container{
    position: absolute;
    top: 2%;
    left: 2%;
    width: 270px;
    height: 80px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center; 
    overflow: hidden;
    color: white;

    display: none;
}

.gold-container img{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gold-container svg{
    width: 24px;
    text-align:end;
    align-self: center;
    fill: orange;
}

.book-container{
    position: absolute;
    top: 20%;
    left: 2%;
    /* background-color: white; */
    overflow: hidden;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;

    display: none;
}

.book-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}

.title-ledger{
    align-self: center;
    font-size: 2rem;
}

.first-part{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mix-togle{
    align-self: center;
    display: flex;
    gap: 5px;
    padding-top: 10px;
}

.inventory-container,
.mercader-container{
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}


.container-resources{
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 2px;
    width: 260px;
}

.resour-div{
    display: flex;
    gap: 10px;
}

.resour-div img{
    width: 24px;
    display: flex;
}

.second-part{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.merchant-guild{
    align-self: center;
    padding-bottom: 5px;
}

.merchants-div{
    align-self: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px 5px;
    width: fit-content;
}

.button-buy{
    background-color: rgb(59, 41, 41);
    color: white;
    width: fit-content;
    padding: 10px 20px;
    align-self: center;
    border-radius: 10px;
    cursor: pointer;
}

.container-cardmerchants{
    align-self: center;
}

.profile-card{
    display: flex;
    gap: 5px;
}

.console-log{
    background-color: #473021;
    position: absolute;
    bottom: 0;
    left: 24%;
    width: 850px;
    height: 260px;
    display: flex;
    flex-direction: column;
    z-index: 1;

    display: none;
}

.back-fix{
    position: absolute;
    z-index: -1;
    width: 850px;
    object-fit: fill;
}

.command-h2{
    align-self: center;
    position: relative;
    width: 300px;
    height: 50px;
    transform: translateY(-170%);
}

.command-h2 img{
    position: absolute;
    /* object-fit: contain; */
    width: 300px;
    
}

.command-h2 h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);
    color: white;
    text-align: center;
    font-size: 1.3rem;
}

.action-travel{
    align-self: center;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
}

.actions-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 30px 0px 30px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    color: white;
}

.actions-section img{
    position: absolute;
    z-index: -1;
}

.actions-section div{
    background-color: rgb(71, 59, 59);
    color: white;
    padding: 3px 10px;
    border-radius: 7px;
    width: 160px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.travel-section{
    width: 100%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.title-log{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: center;
    position: relative;
}

.title-log h3,
.title-log hr,
.title-log div{
    z-index: 1;
}

.title-log img{
    position: absolute;
    width: 377px;
    height: 170px;
    z-index: 0;
}

.container-log{
    width: 100%;
    height: 130px;
    background-color: rgba(203, 178, 178, 0.315);
}

.container-command{
    align-self: start;
    width: 100%;
}

.container-command input{
    width: 100%;
}

